body {
  min-height: 100vh;
  background: #1a1d20;
  color: #fff;
}
.table-dark {
  --bs-table-bg: #23272b;
  --bs-table-hover-bg: #30343a;
}
input.bg-secondary {
  background: #23272b !important;
  color: #fff !important;
  border: none;
}
input:focus {
  box-shadow: 0 0 0 0.1rem #19875444;
}
